<table id="<%= plural_model_name %>_table" st-table="rowCollection"
  st-pipe="callServer" class="table table-striped">
<thead>
  <tr>
    <% visible_columns.each do |column| %>
      <th st-sort="<%= column.name %>">
        <%= column.name.humanize.capitalize %>
      </th>
    <% end %>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <% visible_columns.each do |column| %>
      <td>
        <% if searchable?(column) %>
          <input st-search="'<%= column.name %>'"/>
        <% end %>
      </td>
    <% end %>
  </tr>
</thead>
<tbody>
  <tr id="{{row.id}}" ng-repeat="row in rowCollection">
    <% visible_columns.each do |column| %>
      <td><%= smart_management_row(column) %></td>
    <% end %>
    <td><a ng-href="{{row.editUrl}}" data-remote="true">Edit</a></td>
    <td><a href="javascript:" ng-click="deleteEntry(row)">Delete</a></td>
  </tr>
</tbody>
<tfoot>
  <tr>
    <td class="text-center" st-pagination="" st-items-by-page="25"
                                             colspan="<%= colspan %>">
    </td>
  </tr>
</tfoot>
</table>
